<div class="container">
  <div class="row">
    <h2 class="col-md-8 col-xs-12 offset-md-2"><%= @board.title %></h2>
  </div>
  <% if @comments.length == 0 %>
  <div class="row">
    <h5 class="col-md-6 col-xs-12 offset-md-3 text-secondary mt-5" style="text-align:center;">まだ投稿がありません</h5>
  </div>
  <% end %>
  <% @comments.each_with_index do |comment, index| %>
    <div class="row mt-2">
      <div class="col-md-6 col-xs-12 offset-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= index+1 %>. <%=comment.name %></h5>
            <p class="card-text">
              <% if comment.reply_to != "0" && comment.reply_to != nil%>
                >> <%= @indices_on_board[comment.reply_to] %>
              <% end %>
              <%= simple_format(h(comment.body))  %>
            </p>
            <%= form_tag(comment_show_path(comment.id), method: :get, class: "form-inline mr-2", style: "display: inline") do %>
              <div class="form-group" style="display: inline">
                <button type="submit" class="text-secondary btn-boarder" style="display: inline-block"><i class="fas fa-reply"></i></button>
              </div>
            <% end %>
            <%= form_tag(comment_destroy_path(comment.id), method: :delete, class: "form-inline", style: "display: inline") do %>
              <div class="form-group" style="display: inline">
                <button type="submit" class="text-danger btn-border" style="display: inline-block"><i class="fas fa-trash-alt"></i></button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row mt-5">
    <h4 class="col-md-8 col-xs-12 offset-md-3">投稿する</h4>
  </div>
  <div id="my-alert" class="row mb-4 mt-3" style="display: none">
    <div class=" col-md-8 col-xs-12 offset-md-3">
      <span class="alert alert-danger">本文を入力して下さい</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-12 offset-md-3">
      <%= form_tag(show_path, method: :put, name: "myform") do %>
        <div class="form-group">
          <input type="text" class="form-control mb-1" name="name" placeholder="名前">
          <textarea id="body" name="body" class="form-control" placeholder="投稿内容"></textarea>
          <button id="my-button" class="btn btn-primary mt-2">投稿</button>
          <input type="hidden" name="board_id" value="<%= @board.id %>">
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-12 offset-md-3 mt-1 mb-5">
      <a href=<%= index_path %>>スレッド一覧に戻る</a>
    </div>
  </div>
</div>
<script>
    var button = document.getElementById("my-button");

    button.addEventListener('click', e => {
        e.preventDefault();
        const oge = document.getElementById("body").value;
        if (oge === "" || oge === undefined) {
            document.getElementById('my-alert').style.display = 'block';
        }
        else {
            button.className += "disabled";
            document.myform.submit();
        }
    });
</script>