<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">RuBBS</a>
</nav>
<div class="container">
  <div class="row">
    <h2 class="col-md-8 col-xs-12 offset-md-2"><%= @board.title %></h2>
  </div>
  <% @comments.each_with_index do |comment, index| %>
    <div class="row mt-2">
      <div class="col-md-6 col-xs-12 offset-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= index+1 %>. <%=comment.name %></h5>
            <p class="card-text"><%= simple_format(comment.body)  %></p>
            <%= form_tag(comment_destroy_path(comment.id), method: :delete, class: "form-inline") do %>
              <div class="form-group-inline">
                <button type="submit" class="btn btn-outline-danger btn-sm">削除</button>
                <input type="hidden" name="board_id" value="<%= @board.id %>">
              </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>
  <div class="row mt-5">
    <h4 class="col-md-8 col-xs-12 offset-md-3">投稿する</h4>
  </div>
  <% end %>
  <div class="row">
    <div class="col-md-6 col-xs-12 offset-md-3">
      <%= form_tag(show_path, method: :put) do %>
        <div class="form-group">
          <input type="text" class="form-control mb-1" name="name" placeholder="名前">
          <textarea name="body" class="form-control" placeholder="投稿内容"></textarea>
          <button type="submit" class="btn btn-primary mt-2">投稿</button>
          <input type="hidden" name="board_id" value="<%= @board.id %>">
        </div>
      <% end %>
    </div>
  </div>
</div>